@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #6244C5;
    --secondary: #FFC448;
    --light: #FAFAFB;
    --dark: #12141D;
}

body {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 20px;
    bottom: 20px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out 0s, visibility 0s linear 0.5s;
    z-index: 99999;
}

section {
    padding: 50px 0px !important;
    overflow: hidden !important;
}

#spinner.show {
    transition: opacity 0.5s ease-out 0s, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.btn {
    font-weight: 500;
    transition: all 0.5s ease 0s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: rgb(255, 255, 255);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


.typed-cursor {
    font-size: 30px;
    color: var(--dark);
}

.btn-play {
    position: relative;
    display: block;
    box-sizing: content-box;
    width: 16px;
    height: 26px;
    border-radius: 100%;
    border: none;
    padding: 18px 20px 20px 28px;
    background: var(--primary);
    outline: none !important;
}

.btn-play::before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: var(--primary);
    border-radius: 100%;
    animation: 1500ms ease-out 0s infinite normal none running pulse-border;
}

.btn-play::after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 60px;
    height: 60px;
    background: rgb(255, 255, 255);
    border-radius: 100%;
    transition: all 200ms ease 0s;
}

.btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0px;
    height: 0px;
    left: -1px;
    border-left: 16px solid var(--primary);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0px) scale(2);
        opacity: 0;
    }
}

.modal-video .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0px;
}

.modal-video .modal-body {
    position: relative;
    padding: 0px;
}

.modal-video .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    opacity: 1;
}

#about .years .display-1 {
    font-size: 10rem;
    line-height: 9rem;
}

#about .years h5 {
    letter-spacing: 30px;
    margin-right: -30px;
}

#skill .progress {
    height: 5px;
    border-radius: 5px;
}

#skill .progress .progress-bar {
    width: 0px;
    border-radius: 5px;
    transition: all 3s ease 0s;
}

#skill .nav-pills .nav-link {
    color: var(--dark);
}

#skill .nav-pills .nav-link.active {
    color: rgb(255, 255, 255);
}

#skill .tab-content hr {
    width: 30px;
}

.service-item .bg-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/bg-icon.png") center center / cover no-repeat;
}

#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: all 0.6s ease 0s;
    border: 1px solid rgb(5, 99, 187);
    padding: 7px 18px;
    border-radius: 20px;
}

#portfolio-flters li:hover {
    color: rgb(248, 248, 248);
    background-color: rgb(59, 157, 0);
    border-bottom: 2px solid rgb(59, 157, 0);
    border: 1px solid rgb(59, 157, 0)
}

#portfolio-flters li.active {
    color: rgb(248, 248, 248);
    background-color: rgb(5, 99, 187);
    border-bottom: 2px solid rgb(5, 99, 187);
    border: 1px solid rgb(5, 99, 187);
}

.portfolio-img {
    position: relative;
}

.portfolio-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(98, 68, 197, 0.9);
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    opacity: 0;
    transition: all 0.5s ease 0s;
    padding-bottom: 100px !important;
}

.portfolio-item:hover .portfolio-btn {
    opacity: 1;
    padding-bottom: 30px !important;
}

.team-item img {
    transition: all 0.5s ease 0s;
}

.team-item:hover img {
    opacity: 0.7;
}

.team-item .team-text {
    position: absolute;
    left: 0px;
    right: 60px;
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.team-item:hover .team-text {
    right: 30px;
    opacity: 1;
}

.team-item .team-text div {
    transition: all 0.5s ease 0s;
}

.team-item:hover .team-text div {
    margin-left: 30px;
}

.testimonial-left,
.testimonial-right {
    position: relative;
}

.testimonial-left img,
.testimonial-right img {
    position: absolute;
    padding: 5px;
    border: 1px solid var(--secondary);
    border-radius: 70px;
}

.testimonial-left img:nth-child(1),
.testimonial-right img:nth-child(3) {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.testimonial-left img:nth-child(2),
.testimonial-right img:nth-child(2) {
    width: 60px;
    height: 60px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.testimonial-left img:nth-child(3),
.testimonial-right img:nth-child(1) {
    width: 50px;
    height: 50px;
    bottom: 10%;
    right: 10%;
}

.testimonial-carousel .owl-item img {
    width: 120px;
    height: 120px;
}

.testimonial-carousel .testimonial-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    border: 1px solid var(--secondary);
    border-radius: 60px;
}

.testimonial-carousel .owl-dots {
    height: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    border: 2px solid var(--secondary);
    border-radius: 30px;
    transition: all 0.5s ease 0s;
}

.testimonial-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 5px;
    left: 5px;
    border-radius: 16px;
    background: var(--secondary);
    transition: all 0.5s ease 0s;
}

.testimonial-carousel .owl-dot.active::after {
    background: var(--primary);
}

.bg-hero {
    width: 100%;
    background-color: white !important;
    height: 100vh;
    background: url("../img/lg-hero-bg-opa.jpg") right top / 110vh 100vh no-repeat;
    overflow: hidden;
}



.hero {
    width: 100%;
    height: 100vh;
    padding: 100px;
}

.hero-text {
    margin-top: 192px;
}

h1,
h2 {
    color: rgb(69, 80, 91);
}

@media (max-width: 992px) {
    .bg-hero {
        background-size: cover;
        overflow: hidden;
        text-align: center;
        background-position: 80% 50%;
    }

    .hero-text {
        margin-top: 250px;
    }

    .hero-h2 {
        font-size: 20px;
        font-weight: 600 !important;
    }

    .hero h1 {
        font-size: 32px;
        margin-bottom: 5px !important;
        /* line-height: 36px; */
    }

    .hero {
        padding: 0px;
    }

    h1 {
        text-align: center;
    }

    .text-center {
        display: none;
    }

    .border-bab {
        color: red;
        background-color: rgb(5, 99, 187);
        width: 100px !important;
        height: 1px !important;
        margin: auto;
    }

    .border-bsk {
        color: red;
        background-color: rgb(5, 99, 187);
        width: 85px !important;
        height: 1px !important;
        margin: auto;
    }

    .border-bpr {
        color: red;
        background-color: rgb(5, 99, 187);
        width: 128px !important;
        height: 1px !important;
        margin: auto;
    }

    .border-bse {
        color: red;
        background-color: rgb(5, 99, 187);
        width: 130px !important;
        height: 1px !important;
        margin: auto;
    }

    section {
        padding: 25px 0px !important;
        overflow: hidden !important;
    }

    .services .icon-box {
        box-shadow: 10px 11px 20px -15px rgba(0, 0, 0, 0.58) !important;
    }

    .webapp {
        padding: 5px;
    }

    .packages {
        padding: 5px;
    }

    .websites {
        padding: 5px;
    }

    .about .content ul {
        padding-left: 10px;
    }

}

.border-bab {
    color: red;
    background-color: rgb(5, 99, 187);
    width: 116px;
    height: 1px;
}

.border-bsk {
    color: red;
    background-color: rgb(5, 99, 187);
    width: 97px;
    height: 1px;
}

.border-bpr {
    color: red;
    background-color: rgb(5, 99, 187);
    width: 154px;
    height: 1px;
}

.border-bse {
    color: red;
    background-color: rgb(5, 99, 187);
    width: 153px;
    height: 1px;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 9997;
    transition: all 0.5s ease 0s;
    padding: 15px;
    overflow-y: auto;
}

@media (max-width: 991px) {
    #header {
        width: 300px;
        background: rgb(255, 255, 255);
        border-right: 1px solid rgb(230, 233, 236);
        left: -300px;
    }
}

@media (min-width: 991px) {
    #main {
        margin-left: 100px;
    }
}

.nav-menu {
    padding: 0px;
    display: block;
}

.nav-menu * {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: rgb(69, 80, 91);
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 50px;
    background: rgb(242, 243, 245);
    height: 56px;
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
    padding: 0px 5px 0px 7px;
    color: rgb(69, 80, 91);
}

@media (min-width: 992px) {

    .nav-menu a,
    .nav-menu a:focus {
        width: 56px;
    }

    .nav-menu a span,
    .nav-menu a:focus span {
        display: none;
        color: rgb(255, 255, 255);
    }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    color: rgb(255, 255, 255);
    background: rgb(5, 99, 187);
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover>a span {
    color: rgb(255, 255, 255);
}

.nav-menu a:hover,
.nav-menu li:hover>a {
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgb(59, 157, 0);
}

.nav-menu a:hover span,
.nav-menu li:hover>a span {
    display: block;
}

.mobile-nav-toggle {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9998;
    border: 0px;
    background: none;
    font-size: 28px;
    transition: all 0.4s ease 0s;
    line-height: 0;
    cursor: pointer;
    border-radius: 50px;
    padding: 5px;
    outline: none !important;
}

.mobile-nav-toggle i {
    color: rgb(69, 80, 91);
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0px;
}

.mobile-nav-active .mobile-nav-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(5, 99, 187);
}

#footer {
    background: rgb(247, 248, 249);
    color: rgb(69, 80, 91);
    font-size: 14px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#footer h3 {
    font-size: 36px;
    font-weight: 700;
    position: relative;
    color: rgb(69, 80, 91);
    padding: 0px;
    margin: 0px 0px 15px;
}

#footer p {
    font-style: italic;
    padding: 0px;
    margin: 0px 0px 40px;
}

#footer .social-links {
    margin: 0px 0px 40px;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgb(5, 99, 187);
    color: rgb(255, 255, 255);
    line-height: 1;
    padding: 8px 0px;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: all 0.5s ease 0s;
}

#footer .social-links a:hover {
    background: rgb(59, 157, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#footer .copyright {
    margin: 0px 0px 5px;
}

#footer .credits {
    font-size: 13px;
}

.php {
    background-color: rgb(106, 118, 165) !important;
}

.laravel {
    background-color: rgb(240, 62, 48) !important;
}

.js {
    background-color: rgb(239, 216, 29) !important;
}

.vue {
    background-color: rgb(63, 178, 127) !important;
}

.mysql {
    background-color: rgb(0, 117, 143) !important;
}

.redis {
    background-color: rgb(213, 54, 44) !important;
}

.livewire {
    background-color: rgb(243, 108, 164) !important;
}

.jquery {
    background-color: rgb(7, 105, 173) !important;
}

.alpine {
    background-color: rgb(119, 193, 210) !important;
}

.bootstarp {
    background-color: rgb(132, 17, 246) !important;
}

.tailwind {
    background-color: rgb(56, 189, 248) !important;
}

.cdeIgniter {
    background-color: rgb(221, 72, 20) !important;
}

p span {
    letter-spacing: 1px;
}

.social-links {
    margin-top: 30px;
}

.social-links a {
    font-size: 25px;
    display: inline-block;
    color: rgb(5, 99, 187);
    line-height: 1;
    margin-right: 20px;
    transition: all 0.5s ease 0s;
}

.social-links a:hover {
    color: rgb(59, 157, 0);
}

.hero-h2 {
    color: rgb(5, 99, 187);
    font-weight: 700;
}

.img-roun {
    border-radius: 20px;
}

.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: rgb(5, 99, 187);
    line-height: 0;
}

.about .content p:last-child {
    margin-bottom: 0px;
}

.about .content ul {
    list-style: none;
    color: black;
}

.about .content p {
    color: black;
}

a {
    color: rgb(5, 99, 187);
    text-decoration: none;
}

a:hover {
    color: rgb(6, 125, 237);
    text-decoration: none;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(69, 80, 91);
}

.resume .resume-item {
    padding: 0px 0px 15px 20px;
    margin-top: -2px;
    border-left: 2px solid rgb(5, 99, 187);
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    color: rgb(5, 99, 187);
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 15px;
    background: rgb(247, 248, 249);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 0px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0px;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(5, 99, 187);
}

.websites h4 {
    padding-left: 10px;
    color: rgb(255, 196, 72)
}

.package h4 {
    padding-left: 10px;
    color: rgb(255, 196, 72)
}

.web h4 {
    padding-left: 10px;
    color: rgb(255, 196, 72)
}

.services .icon-box {
    text-align: center;
    padding: 20px;
    /* background: rgb(255, 255, 255); */
    background: rgb(247, 248, 249);
    box-shadow: 10px 11px 20px -15px rgba(0, 0, 0, 0.58) !important;
    transition: all 1000ms ease 0s;
    border-radius: 10px;
}

.services .icon-box:hover {
    box-shadow: rgba(0, 0, 0, 0.68) 11px 13px 34px -10px !important;
}

.services .icon-box .icon {
    margin: 0px auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
}

.services .icon-box .icon i {
    font-size: 36px;
    transition: all 0.5s ease 0s;
    position: relative;
}

.services .icon-box .icon svg {
    position: absolute;
    top: 0px;
    left: 0px;
}

.services .icon-box .icon svg path {
    transition: all 0.5s ease 0s;
    fill: rgb(245, 245, 245);
}

.services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0px 15px;
    font-size: 22px;
    color: rgb(69, 80, 91);
}

.services .icon-box h4 a {
    color: rgb(69, 80, 91);
    transition: all 0.3s ease-in-out 0s;
}

.services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0px;
}

.services .icon-box:hover {
    border-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 35px 0px;
}

.services .iconbox-blue i {
    color: rgb(71, 174, 255);
}

.services .iconbox-blue:hover .icon i {
    color: rgb(255, 255, 255);
}

.services .iconbox-blue:hover .icon path {
    fill: rgb(71, 174, 255);
}

.services .iconbox-orange i {
    color: rgb(255, 167, 110);
}

.services .iconbox-orange:hover .icon i {
    color: rgb(255, 255, 255);
}

.services .iconbox-orange:hover .icon path {
    fill: rgb(255, 167, 110);
}

.services .iconbox-pink i {
    color: rgb(232, 3, 104);
}

.services .iconbox-pink:hover .icon i {
    color: rgb(255, 255, 255);
}

.services .iconbox-pink:hover .icon path {
    fill: rgb(232, 3, 104);
}

.services .iconbox-yellow i {
    color: rgb(255, 187, 44);
}

.services .iconbox-yellow:hover .icon i {
    color: rgb(255, 255, 255);
}

.services .iconbox-yellow:hover .icon path {
    fill: rgb(255, 187, 44);
}

.services .iconbox-red i {
    color: rgb(255, 88, 40);
}

.services .iconbox-red:hover .icon i {
    color: rgb(255, 255, 255);
}

.services .iconbox-red:hover .icon path {
    fill: rgb(255, 88, 40);
}

.services .iconbox-teal i {
    color: rgb(17, 219, 207);
}

.services .iconbox-teal:hover .icon i {
    color: rgb(255, 255, 255);
}

.services .iconbox-teal:hover .icon path {
    fill: rgb(17, 219, 207);
}

.contact .info {
    width: 100%;
    background: rgb(255, 255, 255);
}

.contact .info i {
    font-size: 20px;
    color: rgb(5, 99, 187);
    float: left;
    width: 44px;
    height: 44px;
    background: rgb(238, 247, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out 0s;
}

.contact .info-hover:hover {
    box-shadow: rgba(0, 0, 0, 0.68) 11px 13px 34px -10px !important;
}

.contact .info-hover {
    transition: all 700ms ease 0s;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.contact .info h4 {
    padding: 0px 0px 0px 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: rgb(69, 80, 91);
}

.contact .info p {
    padding: 0px 0px 0px 60px;
    margin-bottom: 0px;
    font-size: 14px;
    color: rgb(114, 131, 148);
}

.contact .info .email,
.contact .info .phone {}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
    background: rgb(5, 99, 187);
    color: rgb(255, 255, 255);
}

.contact .php-email-form {
    width: 100%;
    background: rgb(255, 255, 255);
}

.contact .php-email-form .form-group {
    padding-bottom: 8px;
}

.contact .php-email-form .error-message {
    display: none;
    color: rgb(255, 255, 255);
    background: rgb(237, 60, 13);
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: rgb(255, 255, 255);
    background: rgb(24, 210, 110);
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0px 10px -6px 0px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(238, 238, 238) rgb(24, 210, 110) rgb(24, 210, 110);
    border-image: initial;
    animation: 1s linear 0s infinite normal none running animate-loading;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input {
    height: 44px;
}

.contact .php-email-form textarea {
    padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
    background: rgb(5, 99, 187);
    border: 0px;
    padding: 10px 35px;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s;
    border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
    background: rgb(59, 157, 0);
}

.about-pill {
    border: none;
}









.skills .progress {
    display: block;
    background: none;
    border-radius: 0px;
}

.skills .progress .skill {
    /* padding: 10px 0px; */
    margin: 0px;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    color: rgb(69, 80, 91);
    /* margin-top: 40px; */
}

.skills .progress .skill .val {
    float: right;
    font-style: normal;
}

.skills .progress-bar-wrap {
    background: rgb(242, 243, 245);
}

.skills .progress-bar {
    width: 1px;
    height: 12px;
    transition: all 0.9s ease 0s;
    background-color: rgb(5, 99, 187);
}

.progress.orange::before {
    border: 7px solid rgb(254, 59, 59);
}

.progress.blue::before {
    border: 7px solid rgb(26, 73, 102);
}

.progress.green::before {
    border: 7px solid rgb(83, 170, 44);
}

.progress.purple::before {
    border: 7px solid rgb(102, 64, 111);
}

.progress.orange .progress-value {
    border: 5px solid rgb(254, 59, 59);
    color: rgb(254, 59, 59);
}

.progress.blue .progress-value {
    border: 5px solid rgb(26, 73, 102);
    color: rgb(26, 73, 102);
}

.progress.green .progress-value {
    border: 5px solid rgb(83, 170, 44);
    color: rgb(83, 170, 44);
}

.progress.purple .progress-value {
    border: 5px solid rgb(102, 64, 111);
    color: rgb(102, 64, 111);
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0px;
    }
}

@keyframes animate-positive {
    0% {
        width: 0px;
    }
}

.progress-title {
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin: 0px 0px 10px;
}

.progress {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 30px;
    overflow: visible;
    position: relative;
}

.progress .progress-bar {
    border-radius: 15px;
    box-shadow: none;
    position: relative;
    animation: 2s ease 0s 1 normal none running animate-positive;
}

.progress .progress-icon,
.progress .progress-value {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 40px;
    background: rgb(255, 255, 255);
    border: 7px solid rgb(31, 117, 196);
    font-size: 12px;
    font-weight: 600;
    color: rgb(31, 117, 196);
    top: -18px;
    right: 5px;
}

.progress .progress-icon {
    right: auto;
    left: -5px;
}

.progress.orange .progress-icon,
.progress.orange .progress-value {
    border: 7px solid rgb(247, 129, 14);
    color: rgb(247, 129, 14);
}

.progress.pink .progress-icon,
.progress.pink .progress-value {
    border: 7px solid rgb(242, 67, 143);
    color: rgb(242, 67, 143);
}

.progress.green .progress-icon,
.progress.green .progress-value {
    border: 7px solid rgb(8, 160, 97);
    color: rgb(8, 160, 97);
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0px;
    }
}

@keyframes animate-positive {
    0% {
        width: 0px;
    }
}

.about-section {
    transition: all 900ms ease 0s;
    padding: 50px 20px;
    border-radius: 20px;
    background: rgb(247, 248, 249);
    -webkit-box-shadow: 10px 11px 47px -22px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 11px 47px -22px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 11px 47px -22px rgba(0, 0, 0, 0.43);
}

.about-section:hover {
    -webkit-box-shadow: 10px 19px 47px -8px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 19px 47px -8px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 19px 47px -8px rgba(0, 0, 0, 0.43);
}

.skill-section {
    transition: all 900ms ease 0s;
    padding: 40px 20px;
    border-radius: 20px;
    background: rgb(247, 248, 249);
    -webkit-box-shadow: 10px 11px 47px -22px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 11px 47px -22px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 11px 47px -22px rgba(0, 0, 0, 0.43);

}

.skill-section:hover {
    -webkit-box-shadow: 10px 19px 47px -8px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 10px 19px 47px -8px rgba(0, 0, 0, 0.43);
    box-shadow: 10px 19px 47px -8px rgba(0, 0, 0, 0.43);
}

.services .text-center {
    background: rgb(5, 99, 187);
    border: 0px;
    padding: 10px 35px;
    color: rgb(255, 255, 255);
    transition: all 0.5s ease 0s;
    border-radius: 50px;
    cursor: pointer;
    /* padding-bottom: 14px; */
}

.services .text-center:hover {
    background: rgb(59, 157, 0);
}

.arrow-up {
    border: solid .5px rgb(5, 99, 187);
    color: green !important;
    border-radius: 25px;
    width: 28px;
    height: 39px;
}

.arrow-up:hover {
    background-color: rgb(59, 157, 0);
    border: none !important;
    color: white !important;
}

.nav-pills .nav-link.active {
    background-color: rgb(5, 99, 187);
    color: #FAFAFB;
    border: none !important;
    border-radius: 50px;
    transition: .7s;
}

.nav-pills .nav-link.active:hover {
    border: solid 1px rgb(59, 157, 0);
    background-color: rgb(59, 157, 0);
    color: #FAFAFB;
    border: none !important;
    border-radius: 50px;
}

.nav-pills .nav-link {
    color: black;
}

.webapp {
    padding: 2px;
}

.packages {
    padding: 2px;
}

.websites {
    padding: 2px;
}

.arro-up {
    position: absolute;
    left: 5px;
    top: 7px;
}

.extra-m {
    padding-bottom: 60px !important;
}

.hero-bg {
    background-color: white;
}